# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Reusable Workflow
on: workflow_call
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output message
        run: echo "This is a reusable workflow!"